@model IEnumerable<LieferHero.ViewModels.SpeiseViewModel>

@{
}

<h1>Unsere Speisekarte</h1>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="@item.Bild" width="100%" height="225" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">@item.Name</p>
                        <p class="card-text">@item.Preis</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <form asp-controller="Speise" asp-action="SpeiseZurBestellungHinzufuegen" method="post">
                            <input type="hidden" name="SpeiseId" value="@item.Id" />
                            <input type="number" name="Menge" value="1" min="1"/>
                            <p class="card-text"></p>
                            <button type="submit" class="btn btn-primary">Zur Bestellung hinzufügen</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

