@model LieferHero.ViewModels.BestellZusammenfassungViewModel

@{
}

<h2>Bestellzusammenfassung</h2>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Menge</th>
        <th>Preis</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Speisen)
    {
        <tr>
            <td>@item.Speise.Name</td>
            <td>@item.Menge</td>
            <td>@item.Speise.Preis</td>
        </tr>
    }
    </tbody>
</table>

<form asp-controller="Bestellung" asp-route-id="@Model.BestellungId" asp-action="BestellBestaetigung" method="post">
    <button type="submit" class="btn btn-primary">Abschließen</button>
</form>