@model Bestellung

@{
}

<h2>Bestellung</h2>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Menge</th>
        <th>Preis</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Speisen)
    {
        <tr>
            <td>@item.Speise.Name</td>
            <td>@item.Menge</td>
            <td>@item.Speise.Preis</td>
        </tr>
    }
    </tbody>
</table>

<form asp-controller="Bestellung" asp-action="BestellungAufgeben" method="post">
<input type="hidden" name="BestellungId" value="@Model.Id" />
<button type="submit" class="btn btn-primary">Bestellen</button>
</form>
